$font_weight_100: 100;
$font_weight_200: 200;
$font_weight_300: 300;
$font_weight_400: 400;
$font_weight_500: 500;
$font_weight_600: 600;
$font_weight_700: 700;
$font_weight_800: 800;
$font_weight_900: 900;

$font_weight_lighter: lighter;
$font_weight_light: light;
$font_weight_normal: normal;
$font_weight_bold: bold;
$font_weight_bolder: bolder;
