$z_neg: -100;
$z_0: 0;
$z_1: 100;
$z_2: 200;
$z_3: 300;
$z_4: 400;
$z_5: 500;
$z_6: 600;
$z_7: 700;
$z_8: 800;
$z_9: 900;
$z_10: 1000;

$z_index: (
  neg: $z_neg,
  0: $z_0,
  1: $z_1,
  2: $z_2,
  3: $z_3,
  4: $z_4,
  5: $z_5,
  6: $z_6,
  7: $z_7,
  8: $z_8,
  9: $z_9,
  10: $z_10
);
